<!doctype html>
<html>
<head>
    <title>MdTrckr: Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="profile.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="profileInformation align-center">
  
                <h3><span class="fa fa-user"></span> Local</h3>
                <% if (user.local.email) { %>
                  <p>
                     <span class='hide'><strong>id</strong>: <%= user._id %></span> <br>
                     <span></span> <strong>email</strong>: <%= user.local.email %><br>
                      <span class='hide'><strong>password</strong>:</span> <%# user.local.password %>
                  </p>

                  <a href="/unlink/local" class="btn btn-default">Unlink</a>
              <% } else { %>
                  <a href="/connect/local" class="btn btn-default">Connect Local</a>
              <% } %>
                

     
        </div>

        <div class='row'>
          <div class='postMoods'>
            <h2>Add a message</h2>
                <% if (user.local.email) { %>
            <form action="/messages" method="POST">
              <!-- change name to title so that it logs that in the database change it in the routes/server as well-->
              <section>
                <label for='name'>Title</label>
                <input type="text" value="<%# user.local.email %>" name="name">
              </section>
              <section>
                <label for='date'>date</label>
                <input type="date" name='date'>
              </section>
              <section>
                <label for="listOfModds">choose ur mood</label>

                <select id="theListofMoods" name='selectedMood'>
                  <option value="Anger">Anger</option>
                  <option value="Sadness">Sadness</option>
                  <option value="Fear">Fear</option>
                  <option value="Joy">Joy</option>
                  <option value="proud">proud</option>
                  <option value="tired">Tired</option>
                  <option value="disgust">Disgust</option>
                  <option value="Shame">Shame</option>
                </select>
              </section>
              <section>
                <label for="msg">wanna say a little bit about it?</label>
                <input class='block'type="text" placeholder="message" name="msg">
              </section>
              
             
              
              <button type="submit">Submit</button>
            </form>
          
                <% } %>
          </div>
          <div class='whereMoodsPost'>
            <h3>moods</h3>
            <ul class="">
            <% for(var i=0; i<messages.length; i++) {%>
              <li class="message">
  
                <span class='hidden'><%= messages[i]._id %></span>
                <span class='box'>Title: <%= messages[i].name %></span>
                <span class='box'>msg: <%= messages[i].msg %></span>
                <span class='box'>date: <%= messages[i].date %></span>
                <span class='box'>mOtd: <%= messages[i].selectedMood %></span>
              </li>
            <% } %>
            </ul>
          </div>
          <!-- have a dropdown which selects a bunch of different moods -->
          
        </div>
        
      </div>

</div>

<script src="main.js"></script>

</body>
</html>
